*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif ;
}
html,body{
    width: 100%;
    height: 100%;
}
#main{
    display: flex;
    width: 100%;
    height: 100%;
}
#left{
    position: relative;
    width: 35%;
    height: 100%;
    background-color: rgb(175, 12, 12);
    color: white;
}
#left #text{
    position: absolute;
    top: 20%;
    left: 10%;
}
#text h1{
    font-size: 60px;
}
#text h1 span{
    font-weight: 100;
}
#text h2{
    font-weight: 300;
    font-size: 30px;
    margin-top: 20px;
}
#text p{
    margin-top: 20px;
    width: 50%;
    font-size: 15px;
    margin-bottom: 20px;
}
#text button{
    padding: 8px 22px;
    border: none;
    font-weight: 500;
    color: rgb(175, 12, 12);
    border-radius: 4px;
}
#btmcont{
    position: absolute;
    bottom: 0;
    width: 75%;
    height: 100px;
    background-color: white;
    color: black;
    padding: 20px;
    border-radius: 10px;
}
#btmcont h1{
    color: rgb(175, 12, 12);
    font-size: 20px;
}
#btmcont p{
    font-size: 10px;
    margin-top: 5px;
}
#right{
    position: relative;
    width: 65%;
    height: 100%;
    background-color: #e3e1e1;
}
#right> img{
    position: absolute;
    top: 50%;
    left: 0%;
    width: 500px;
    object-fit: cover;
    transform: translate(-50%,-50%)rotate(-30deg);
}
#rcontnent{
    position: absolute;
    top: 30%;
    left: 30%;
    width: 60%;
}
#rcontnent h1{
    font-size: 60px;
    color: rgb(175, 12, 12);
}
#rcontnent h1 span{
    color: black;
    font-weight: 100;
}
#rcontnent h4{
    font-size: 25px;
    margin-bottom: 20px;
    font-weight: 100;
}
#rcontnent h4 span{
    font-weight: 800;
}
#rcontnent p{
    font-size: 15px;
    margin-bottom: 20px;
}
#rcontnent button{
    margin-right: 10px;
    padding: 11px 22px;
    border: none;
    border-radius: 50px;
    background-color: transparent;
    cursor: pointer;
}
#rcontnent button:nth-child(1){
    border: 2px solid rgb(175, 12, 12);
}
#rcontnent button:nth-child(2){
    color: white;
    background-color: rgb(175, 12, 12);
}
#rcontnent h3{
    margin-top: 20px;
}
#samples{
    display: flex;
}
.sample{
    overflow: hidden;
    border-radius: 10px;
    width: 100px;
}
.sample img{
    width: 100%;
}
#sampletext{
    margin-top: 100px;
}