*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}
html,body{
    height: 100%;
    width: 100%;
}
#main{
    height: 100%;
    width: 100%;
    background-color: #dadada
}
#left{
    position: absolute;
    height: 100%;
    width: 70%;
    background-color: #B6DAE6;
    clip-path: polygon(0 0,60% 0, 40% 100, 0 100%);
}    
#right{
    position: absolute;
    height: 100%;
    width: 70%;
    top: 0;
    right: 0;
    background-color: #F1E5E5;
    clip-path: polygon(40% 0, 100% 0, 100% 100%, 0% 100%);
}
#left img{
    position: absolute;
    bottom: 0;
    left: 15%;
    width: 40%;
}
#right img{
    position: absolute;
    bottom: 0;
    left: 15%;
    width: 65%;
}
#left h1{
    position: absolute;
    color: white;
    left: 20%;
    top: 5%;
    font-size: 70px;
}
#right h1{
    position: absolute;
    color: rgb(96, 84, 84);
    left: 40%;
    top: 20%;
    font-size: 80px;
}
#left button{
    position: absolute;
    padding: 10px;
    color: white;
    background-color: transparent;
    font-size: 30px;
    border: 5px solid white;
    border-radius: 20px;
    cursor: pointer;
    left: 20%;
    top: 20%;
}
